<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EjercicioParcial1.Properties.Settings.EMPLEADOConnectionString"
            connectionString="Data Source=LAPTOP-EOQPOVAQ;Initial Catalog=EMPLEADO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>